{# component/_navbar.html.twig #}

<nav>
    <div class="navbar">
        <ul>
            <a href="#"><li>Accueil</li></a>
            <a href="#"><li>Contact</li></a>
            <a href="#"><li>Test</li></a>
        </ul>
    </div>
</nav>